# Avocado Data Analysis Notebook
ALT-TAB LABS LLP &copy; 2020 All Rights Reserved

In [1]:
# show files in current directory
import os
os.listdir()

['.ipynb_checkpoints',
 'avocado-format.png',
 'avocado-submission.csv',
 'avocado-test.csv',
 'avocado-train.csv',
 'avocado_deep model.ipynb',
 'avocado_notebook.ipynb',
 'pyctfsglib.py',
 '__pycache__']

In [2]:
# load csvs
import pandas as pd
MyDataFrame = pd.read_csv('avocado-train.csv', index_col='id')

In [3]:
# View the data!
MyDataFrame.head()
#TODO TODO TODO TODO TODO TODO TODO TODO

,DataBatch,Date,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region,AveragePrice
id,,,,,,,,,,,,,
0,7,2016-11-06,183542.31,98949.98,22891.61,95.00,61605.72,43571.99,17499.01,534.72,conventional,NewOrleansMobile,1.49
1,24,2017-07-16,224434.92,42951.31,120360.02,131.85,60991.74,53141.81,3621.04,4228.89,conventional,HarrisburgScranton,1.38
2,51,2015-01-04,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00,organic,Atlanta,1.76
3,22,2015-07-26,91825.07,1679.28,45615.48,741.77,43788.54,43788.54,0.00,0.00,conventional,BuffaloRochester,1.39
4,50,2015-01-11,54644.32,1491.88,33759.12,1325.17,18068.15,12165.94,5902.21,0.00,conventional,Pittsburgh,1.54

In [4]:
# Clean Data

# Drops missing values 
#TODO TODO TODO TODO TODO TODO TODO TODO
MyDataFrame.dropna()
# Convert strings to numbers
#TODO TODO TODO TODO TODO TODO TODO TODO
c = ['TotalVolume',"4046","4225","4770","TotalBags","SmallBags","LargeBags","XLargeBags","AveragePrice"]
for column in c:
    MyDataFrame[column] = pd.to_numeric(MyDataFrame[column])
# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [5]:
# Select data for learning
features = ['TotalVolume',"TotalBags","SmallBags","LargeBags","XLargeBags"] #TODO TODO TODO TODO TODO TODO TODO TODO
#features = ["TotalVolume"] 
#features = ['TotalVolume',"TotalBags"]
features = c[:-1]

X = MyDataFrame[features]#None #TODO TODO TODO TODO TODO TODO TODO TODO
y = MyDataFrame["AveragePrice"]#None #TODO TODO TODO TODO TODO TODO TODO TODO

In [6]:
X.head()
#y.head()

,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags
id,,,,,,,,
0,183542.31,98949.98,22891.61,95.00,61605.72,43571.99,17499.01,534.72
1,224434.92,42951.31,120360.02,131.85,60991.74,53141.81,3621.04,4228.89
2,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00
3,91825.07,1679.28,45615.48,741.77,43788.54,43788.54,0.00,0.00
4,54644.32,1491.88,33759.12,1325.17,18068.15,12165.94,5902.21,0.00

# Regression Time!

In [6]:
# Sci Kit Learn! Scientific Computing library for python
from sklearn import *

In [7]:
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

X_train, X_eval,y_train,y_eval=train_test_split(x_data,y_val,test_size=0.3,random_state=101)
scaler_model = MinMaxScaler()
scaler_model.fit(X_train)

X_train=pd.DataFrame(scaler_model.transform(X_train),columns=X_train.columns,index=X_train.index)

scaler_model.fit(X_eval)

X_eval=pd.DataFrame(scaler_model.transform(X_eval),columns=X_eval.columns,index=X_eval.index)

#Creating Feature Columns
feat_cols=[]
for cols in df.columns[:-1]:
    column=tf.feature_column.numeric_column(cols)
    feat_cols.append(column)
    
print(feat_cols)

ModuleNotFoundError: No module named 'tensorflow'

In [ ]:
#The estimator model
model=tf.estimator.DNNRegressor(hidden_units=[6,10,6],feature_columns=feat_cols)

#the input function
input_func=tf.estimator.inputs.pandas_input_fn(X_train,y_train,batch_size=10,num_epochs=1000,shuffle=True)

#Training the model
model.train(input_fn=input_func,steps=1000)
#Evaluating the model
train_metrics=model.evaluate(input_fn=input_func,steps=1000)

In [ ]:

#Now to predict values we do the following
pred_input_func=tf.estimator.inputs.pandas_input_fn(x=X_eval,y=y_eval,batch_size=10,num_epochs=1,shuffle=False)
preds=model.predict(input_fn=pred_input_func)

predictions=list(preds)
final_pred=[]
for pred in predictions:
    final_pred.append(pred["predictions"])
print final_pred[:5]

# Predict for Testing data

In [12]:
# Clean Data
MyDataFrame = pd.read_csv('avocado-test.csv', index_col='id')
# Drops missing values 
#MyDataFrame.dropna()
# Convert strings to numbers
c = ['TotalVolume',"4046","4225","4770","TotalBags","SmallBags","LargeBags","XLargeBags"]#,"AveragePrice"]
for column in c:
    MyDataFrame[column] = pd.to_numeric(MyDataFrame[column])
# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [13]:
# Select features
XforPredictions =  MyDataFrame[features]#None #TODO TODO TODO TODO TODO TODO TODO TODO
XforPredictions.head()

,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags
id,,,,,,,,
0,28969.34,80.77,27361.91,0.00,1526.66,1526.66,0.00,0.00
1,322962.89,5632.85,242365.82,2441.56,72522.66,22942.48,46083.51,3496.67
2,155334.45,3657.79,74068.65,0.00,77608.01,27302.29,50305.72,0.00
3,10231.74,341.89,8519.00,0.00,1370.85,303.33,1067.52,0.00
4,10652.02,6905.95,39.52,0.00,3706.55,3706.55,0.00,0.00

In [14]:
# Make Predictions!
yPredictions = model.predict(XforPredictions)# None #TODO TODO TODO TODO TODO TODO TODO TODO
print("Predictions:", yPredictions)

Predictions: [1.9607 1.4633 1.4922 ... 1.4845 1.8793 1.6435]

In [15]:
# Save to CSV File!
output = pd.DataFrame({'id': XforPredictions.index, 'AveragePrice': yPredictions})
output.to_csv('avocado-submission.csv', index=False)
print(output)

        id  AveragePrice
0        0        1.9607
1        1        1.4633
2        2        1.4922
3        3        1.4701
4        4        1.4427
5        5        0.9527
6        6        1.8954
7        7        1.7293
8        8        1.0777
9        9        1.5143
10      10        1.1687
11      11        1.5169
12      12        0.8005
13      13        1.6914
14      14        1.7508
15      15        1.8814
16      16        1.0067
17      17        1.2091
18      18        1.3369
19      19        1.3888
20      20        1.8241
21      21        0.8502
22      22        1.7748
23      23        1.0776
24      24        1.7079
25      25        2.0114
26      26        1.7418
27      27        1.4992
28      28        1.0000
29      29        1.3467
...    ...           ...
5445  5445        1.1568
5446  5446        1.4579
5447  5447        1.5658
5448  5448        0.9597
5449  5449        1.2595
5450  5450        1.4798
5451  5451        1.6176
5452  5452        1.2060
5453  5453        1.6282
5454  5454        1.6832
5455  5455        1.0761
5456  5456        1.4845
5457  5457        1.4061
5458  5458        0.9805
5459  5459        0.7626
5460  5460        1.2779
5461  5461        1.2989
5462  5462        0.8653
5463  5463        1.4003
5464  5464        1.5367
5465  5465        1.2106
5466  5466        1.6876
5467  5467        1.7165
5468  5468        0.9179
5469  5469        1.8125
5470  5470        1.6109
5471  5471        1.4756
5472  5472        1.4845
5473  5473        1.8793
5474  5474        1.6435

[5475 rows x 2 columns]

# Upload for grading

In [16]:
# Download CTFSG Grader Libraries
import urllib.request, os
urllib.request.urlretrieve('https://raw.githubusercontent.com/alttablabs/ctfsg-utils/master/pyctfsglib.py', './pyctfsglib.py')
print('Downloaded pyctfsglib.py:', 'pyctfsglib.py' in os.listdir())

Downloaded pyctfsglib.py: True

In [17]:
# Connect to graders
import pyctfsglib as ctfsg
import random

USER_TOKEN = "MXhtGfdjdsUfiEKTHHEuVGohZESBdMiHrFkmYqNqIFfcWOHGvcubvHJvnxpAqRMh" # You need to fill this up
GRADER_URL = random.choice([ # Check if these are correct GRADER URLS for the specific challenge
    "http://ABC.XYZ.ctf.sg:12345/",
    "http://ABC.XYZ.ctf.sg:23456/"
])
GRADER_URL = random.choice([
"http://challenges.csdc20t.ctf.sg:30001/", "http://challenges.csdc20t.ctf.sg:30002/"
])
grader = ctfsg.DSGraderClient(GRADER_URL, USER_TOKEN)

DSGraderClient: Successfully Connected!
[SERVER] MOTD: CHECK your USER_TOKEN and GRADER_URL HTTP address! I'm AVOCADO_PRICE TEST_GRADER_1

In [18]:
grader.submitFile('avocado-submission.csv')

ProofOfWork Challenge =>  ('CTFSGRB8cf55a6dd4fb851cbba975f21d685fe5', 22)
ProofOfWork Answer Found! =>  8191065

'{"challenge":{"name":"Avocado Prices"},"id":"ck8lbl0ik57w80726rsoyjezz","status":"PARTIALLY_CORRECT","multiplier":0.7453,"submittedBy":{"username":"nyjc-1"},"createdAt":"2020-04-04T07:53:06Z"}'