# Avocado Data Analysis Notebook
ALT-TAB LABS LLP &copy; 2020 All Rights Reserved

In [21]:
# show files in current directory
import os
os.listdir()

['.ipynb_checkpoints',
 'avocado-format.png',
 'avocado-submission.csv',
 'avocado-test.csv',
 'avocado-train.csv',
 'avocado_deep model.ipynb',
 'avocado_notebook.ipynb',
 'avocado_notebook_other_models.ipynb',
 'pyctfsglib.py',
 '__pycache__']

In [22]:
# load csvs
import pandas as pd
MyDataFrame = pd.read_csv('avocado-train.csv', index_col='id')

In [23]:
# View the data!
MyDataFrame.head()
#TODO TODO TODO TODO TODO TODO TODO TODO

,DataBatch,Date,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region,AveragePrice
id,,,,,,,,,,,,,
0,7,2016-11-06,183542.31,98949.98,22891.61,95.00,61605.72,43571.99,17499.01,534.72,conventional,NewOrleansMobile,1.49
1,24,2017-07-16,224434.92,42951.31,120360.02,131.85,60991.74,53141.81,3621.04,4228.89,conventional,HarrisburgScranton,1.38
2,51,2015-01-04,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00,organic,Atlanta,1.76
3,22,2015-07-26,91825.07,1679.28,45615.48,741.77,43788.54,43788.54,0.00,0.00,conventional,BuffaloRochester,1.39
4,50,2015-01-11,54644.32,1491.88,33759.12,1325.17,18068.15,12165.94,5902.21,0.00,conventional,Pittsburgh,1.54

In [24]:
# Clean Data

# Drops missing values 
#TODO TODO TODO TODO TODO TODO TODO TODO
MyDataFrame.dropna()
# Convert strings to numbers
#TODO TODO TODO TODO TODO TODO TODO TODO
c = ['TotalVolume',"4046","4225","4770","TotalBags","SmallBags","LargeBags","XLargeBags","AveragePrice"]
#["TotalVolume", "DataBatch", "type", "4046", "4225", "4770", "TotalBags", "SmallBags", "LargeBags", "XLargeBags"]

for column in c:
    MyDataFrame[column] = pd.to_numeric(MyDataFrame[column])
# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [25]:
# Select data for learning
features = ['TotalVolume',"TotalBags","SmallBags","LargeBags","XLargeBags"] #TODO TODO TODO TODO TODO TODO TODO TODO
#features = ["TotalVolume"] 
#features = ['TotalVolume',"TotalBags"]
features = c[:-1]

X = MyDataFrame[features]#None #TODO TODO TODO TODO TODO TODO TODO TODO
y = MyDataFrame["AveragePrice"]#None #TODO TODO TODO TODO TODO TODO TODO TODO

In [26]:
X.head()
#y.head()

,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags
id,,,,,,,,
0,183542.31,98949.98,22891.61,95.00,61605.72,43571.99,17499.01,534.72
1,224434.92,42951.31,120360.02,131.85,60991.74,53141.81,3621.04,4228.89
2,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00
3,91825.07,1679.28,45615.48,741.77,43788.54,43788.54,0.00,0.00
4,54644.32,1491.88,33759.12,1325.17,18068.15,12165.94,5902.21,0.00

# Regression Time!

In [27]:
# Sci Kit Learn! Scientific Computing library for python
from sklearn import *

In [28]:
# Split training into some for training and some for testing
# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

from sklearn.model_selection import train_test_split
#TODO TODO TODO TODO TODO TODO TODO TODO
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.33, random_state=42)
print("training split: ", len(Xtrain), "; test split: ", len(Xtest))

training split:  8558 ; test split:  4216

In [29]:
# Pick the regression model we want to use
'''
import sklearn.tree as tree
models = [
    tree.DecisionTreeRegressor(random_state=2020),
    ensemble.RandomForestRegressor(random_state=2020, n_estimators=100)
]

currScore = 0
model = None
for i in models:
    print(i)
    i.fit(Xtrain,ytrain)
    score = i.score(Xtest,ytest)
    if score > currScore:
        model = i
        currScore = score
'''
# https://www.kdnuggets.com/2016/10/beginners-guide-neural-networks-python-scikit-learn.html/2

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Fit only to the training data
scaler.fit(Xtrain)
Xtrain = scaler.transform(Xtrain)
Xtest = scaler.transform(Xtest)

from sklearn.neural_network import MLPClassifier
scaler = StandardScaler()
MLPClassifier(hidden_layer_sizes=(len(features),len(features),len(features)))

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(8, 8, 8), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [30]:
# Perform regression on the data
model.fit(Xtrain, ytrain) #TODO TODO TODO TODO TODO TODO TODO TODO

NameError: name 'model' is not defined

In [ ]:
# Score model
model.score(Xtest, ytest) #TODO TODO TODO TODO TODO TODO TODO TODO

# Predict for Testing data

In [ ]:
# Clean Data
MyDataFrame = pd.read_csv('avocado-test.csv', index_col='id')
# Drops missing values 
#MyDataFrame.dropna()
# Convert strings to numbers
c = ['TotalVolume',"4046","4225","4770","TotalBags","SmallBags","LargeBags","XLargeBags"]#,"AveragePrice"]
for column in c:
    MyDataFrame[column] = pd.to_numeric(MyDataFrame[column])
# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [ ]:
# Select features
XforPredictions =  MyDataFrame[features]#None #TODO TODO TODO TODO TODO TODO TODO TODO

scaler = StandardScaler()
# Fit only to the training data
scaler.fit(XforPredictions)
XforPredictions = scaler.transform(XforPredictions)

#XforPredictions.head()

In [ ]:
# Make Predictions!
yPredictions = model.predict(XforPredictions)# None #TODO TODO TODO TODO TODO TODO TODO TODO
print("Predictions:", yPredictions)

In [ ]:
# Save to CSV File!
XforPredictions =  MyDataFrame[features]
output = pd.DataFrame({'id': XforPredictions.index, 'AveragePrice': yPredictions})
output.to_csv('avocado-submission.csv', index=False)
print(output)

# Upload for grading

In [ ]:
# Download CTFSG Grader Libraries
import urllib.request, os
urllib.request.urlretrieve('https://raw.githubusercontent.com/alttablabs/ctfsg-utils/master/pyctfsglib.py', './pyctfsglib.py')
print('Downloaded pyctfsglib.py:', 'pyctfsglib.py' in os.listdir())

In [ ]:
# Connect to graders
import pyctfsglib as ctfsg
import random

USER_TOKEN = "MXhtGfdjdsUfiEKTHHEuVGohZESBdMiHrFkmYqNqIFfcWOHGvcubvHJvnxpAqRMh" # You need to fill this up
GRADER_URL = random.choice([
"http://challenges.csdc20t.ctf.sg:30001/", "http://challenges.csdc20t.ctf.sg:30002/"
])
grader = ctfsg.DSGraderClient(GRADER_URL, USER_TOKEN)

In [ ]:
grader.submitFile('avocado-submission.csv')