# Instructions
### Please paste all the SQL statements and Python code in this jupyter notebook.
### Rename the title to include your name (e.g. SQL Practical Test - Tan Ah Kow).
### You need not submit contacts.db and mycontact.txt.

# Question 1
You want to store information of a group of friends in a database.
The information, stored in the table `Contact`, consists of:
-	`ID` – the primary key, an autoincremented number
-	`Name` – person’s name
-	`HomePhone` – person’s home phone number (as text type)
-	`MobilePhone` – person’s mobile phone number (as text type)
-	`Address` – person’s address (assume no commas in address)
-	`YearOfBirth` – person’s year of birth

(a) Create the database containing `Contact` table in DB Browser for SQLite. Save the database as `contacts.db`.
In the cell below, paste the SQL statement required to create the table `Contact` in the database. [3]

(b) What is the SQL statement required to remove the table `Contact` from the database? [1] <BR>
(Important: If you execute this statement, please ensure you re-create the `Contact` table for later parts.)

### You may wish to use the following data in `Contact` table for testing purposes.

<table style="border-collapse: collapse; border: none;">
<tbody>
<tr>
<td style="width: 75.1pt; border: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="43">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="color: black;">No</span></p>
</td>
<td style="width: 75.1pt; border: solid windowtext 1.0pt; border-left: none; padding: 0cm 5.4pt 0cm 5.4pt;" width="65">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="color: black;">Name</span></p>
</td>
<td style="width: 75.15pt; border: solid windowtext 1.0pt; border-left: none; padding: 0cm 5.4pt 0cm 5.4pt;" width="91">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="color: black;">HomePhone</span></p>
</td>
<td style="width: 75.15pt; border: solid windowtext 1.0pt; border-left: none; padding: 0cm 5.4pt 0cm 5.4pt;" width="96">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="color: black;">MobilePhone</span></p>
</td>
<td style="width: 75.15pt; border: solid windowtext 1.0pt; border-left: none; padding: 0cm 5.4pt 0cm 5.4pt;" width="87">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="color: black;">Address</span></p>
</td>
<td style="width: 75.15pt; border: solid windowtext 1.0pt; border-left: none; padding: 0cm 5.4pt 0cm 5.4pt;" width="88">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="color: black;">YearOfBirth</span></p>
</td>
</tr>
<tr>
<td style="width: 75.1pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" width="43">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">1</p>
</td>
<td style="width: 75.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="65">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">Alan</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="91">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">63547627</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="96">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">94728283</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="87">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">23 Walker Way S(452520)</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="88">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">1993</span></p>
</td>
</tr>
<tr>
<td style="width: 75.1pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" width="43">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">2</p>
</td>
<td style="width: 75.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="65">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">Ben</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="91">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">63857294</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="96">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">85725599</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="87">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">42 Henderson Road S(635633)</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="88">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">1981</span></p>
</td>
</tr>
<tr>
<td style="width: 75.1pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" width="43">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">3</p>
</td>
<td style="width: 75.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="65">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">Ahmad</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="91">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">65797422</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="96">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">94749839</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="87">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">43A Toh Guan Road S(5478547)</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="88">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">1993</span></p>
</td>
</tr>
<tr>
<td style="width: 75.1pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" width="43">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">4</p>
</td>
<td style="width: 75.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="65">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">Gopal</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="91">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">64447627</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="96">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">85196637</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="87">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">7 Woodlands Ring Road S(463824)</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="88">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">1993</span></p>
</td>
</tr>
<tr>
<td style="width: 75.1pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" width="43">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">5</p>
</td>
<td style="width: 75.1pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="65">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">May</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="91">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">64447627</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="96">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">95321233</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="87">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">20 Bath Road S(223320)</span></p>
</td>
<td style="width: 75.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="88">
<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;"><span style="color: black;">1993</span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>

(c) Write the SQL statement required to list the `HomePhone` and `Address` of the person with name "Ahmad". [2]

(d) Write the SQL statement required to list the `Name` and `MobilePhone` of people born in 1993, arranged in ascending order of their mobile phone numbers. [2]

(e) Write the SQL statement required to show the count of the number of people who are older than 28 years old this year. [2]<BR>
(Hint: You may calculate the year required for the query.)

(f) Your current contacts are stored in a text file mycontact.txt. 
The format of each line of the text file is:
`Name,HomePhone,MobilePhone,Address,YearOfBirth`.

Write a Python program to clear the `Contact` table and insert the information from mycontact.txt into the database table `Contact`.

After which, provide a menu for users to choose an option to add a new contact, edit a contact's address given the person’s name and home phone number, display all info for people born in a given year or quit. You can assume all input is correct.

When the user quits from the program, the data is stored back into mycontact.txt in alphabetical order of their names using the same format as the original file. [12]

Sample run:

In [ ]:
Menu
1: Add new contact
2: Edit contact's address
3: Display all contacts born in certain year of birth
4: Quit
Option -> 1
Enter name: Jason
Enter home phone number: 67776666
Enter mobile number: 98998989
Enter address: 4 Bukit Timah Road S(492700)
Enter person's year of birth: 1981

Person added!

Menu
1: Add new contact
2: Edit contact's address
3: Display all contacts born in certain year of birth
4: Quit
Option -> 2
Enter name: Alan
Enter home phone number: 63547627

Details
-------
Name: Alan
Home Phone: 63547627
Mobile: 94728283
Address: 23 Walker Way S(452520)
Year of birth: 1993
Enter updated address: 2 Walking Way S(475820)
Address updated!

Menu
1: Add new contact
2: Edit contact's address
3: Display all contacts born in certain year of birth
4: Quit
Option -> 3
Enter year of birth: 1981

Ben 63857294 85725599 42 Henderson Road S(635633) 1981
Jason 67776666 98998989 4 Bukit Timah Road S(492700) 1981


Menu
1: Add new contact
2: Edit contact's address
3: Display all contacts born in certain year of birth
4: Quit
Option -> 4

Good bye!

In [ ]:
#Write your Code here